@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Bebas+Neue&display=swap');

@font-face{
    font-family:'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
   --cor0:#e3e8f5;
   --cor1:#9BAFE1;
   --cor2:#4E70C7;
   --cor3:#3A5394;
   --cor4:#001A5C;
   --cor5:#000c29;

   --fonte-padrao:Arial, Verdana, Helvetica, sans-serif;
   --fonte-destaque:'Bebas Neue', cursive;
   --fonte-android:'idroid', cursive;
  
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:var(--cor1);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00A0\1F517';
}

header{
    min-height: 150px;
    text-align: center;
    padding: 40px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
    font-weight: normal;
}

header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.212);
}

nav > a{
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav > a:hover{
    background-color:var(--cor1) ;
    border-radius: 5px;
    color: var(--cor3);
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-radius: 0px 0px 10px 10px;
    
}
main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;

}

main strong{
    color: var(--cor3);
    font-weight: bold;

}
main a{
    color: var(--cor3);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--cor0);
    padding: 2px 6px;
    border-radius: 5px;

}
main a:hover {
    text-decoration: underline;
    color:var(--cor1);
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    margin:auto;
    display: block;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.5em;
}

main h2{
    color: var(--cor4);
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    border-radius: 5px;
    font-weight: normal;
}

div.video{
    background-color: var(--cor5);
    margin:0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 57%;

}

div.video > iframe{
    position: absolute;
    top:5%;
    left:5%;
    width: 90%;
    height: 90%;

}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.253);
}

aside > h3{
    background-color:var(--cor3);
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0px 0px;
 
}

aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00a0\00a0';

}

footer{
    background-color: #000c29;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}